* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.glass-card {
    background: rgba(255, 255, 255, 0.05);
    /* Sfondo quasi invisibile */
    backdrop-filter: blur(10px);
    /* Sfocatura dello sfondo */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* Bordo sottile "luce" */
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* Ombra morbida */
}