* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jetbrains {
  font-family: 'JetBrains Mono Variable', monospace;
}

.geist {
  font-family: 'Geist Mono Variable', monospace;
}


body {
    background: #28596d;
}

.container {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid grey;
    color: aliceblue;
}

.title-bar {
    text-align: center;
    padding: 2rem;
}

.listTitle {
    font-size: 4rem;
}

.article-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    max-width: 500px;
    min-width: 100px;
    margin: 2rem;
    padding: 2rem;
    text-align: justify;
    position: relative;
}

.bin {
    position: absolute;
    bottom: 0;
    right: 10%;
    min-width: 20%;
    cursor: pointer;
    }

.glass-card {
    background: rgba(255, 255, 255, 0.05);
    /* Sfondo quasi invisibile */
    backdrop-filter: blur(10px);
    /* Sfocatura dello sfondo */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* Bordo sottile "luce" */
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* Ombra morbida */
}

.addArticleForm {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.form-control {
    padding: 0.5rem 2rem;
}

.btn {
    padding: 1rem;
    border-radius: 1rem;
    border: 0;
    color: aliceblue;
    cursor: pointer;

}

.form-control {
    border: none;
    border-radius: 1rem;
}